---
name: Test Result
about: Use this templete to report (test) result of this script code
title: "[TEST]"
labels: ''
assignees: ''

---

**OS Name and Version** Indicate your OS Version  
e.g. Ubuntu 18.04.2 LTS

**Test Result**  
**1.** *Current IP is same as record's IP, must see the proper message indicating the identity*  
Your Answer (Yes / No) + Some Explanation  

**2.** *Current IP is not same as record's IP, record's IP must be updated and see the proper message indicating the record has been updated*  
Your Answer (Yes / No) + Some Explanation  

**3.** *Has no connection, and see the error message*  
Your Answer (Yes / No) + Some Explanation  

**Additional context**  
Add any other context or screenshots test result (or errors).
